<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, 
  minimum-scale=1, width=device-width, height=device-height, viewport-fit=cover, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="buttons">
    <button type="button" id="list" class="button">List</button>
    <button type="empty" id="empty" class="button">Empty</button>
  </div>

  <div class="container">
    <div id="loading"></div>

    <div class="product header">
      <div class="number">#</div>
      <div class="name">Name</div>
      <div class="bottlesize">Size</div>
      <div class="price">Price (€)</div>
      <div class="priceGBP">Price (£)</div>
      <div class="orderamount">Order</div>
      <div class="actions"></div>
    </div>

    <div id="products"></div>
  </div>

  <template id="product">
    <div class="product">
      <div class="number"></div>
      <div class="name"></div>
      <div class="bottlesize"></div>
      <div class="price"></div>
      <div class="priceGBP"></div>
      <div class="orderamount"></div>
      <div class="actions">
        <button class="add">Add</button>
        <button class="clear">Clear</button>
      </div>
    </div>
  </template>

  <script type="module" src="/js/app.js"></script>
</body>
</html>